
@{
    ViewBag.Title = "Contact";
}


<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h1 class="section-title px-3">聯絡我們</h1>
            <h5 class="mb-0">Contact Us</h5>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-4">
                <div class="bg-white rounded p-4">
                    <div class="text-center mb-4">
                        <i class="fa fa-map-marker-alt fa-3x text-primary"></i>
                        <h4 class="text-primary"><Address></Address></h4>
                        <p class="mb-0">123 ranking Street, <br> New York, USA</p>
                    </div>
                    <div class="text-center mb-4">
                        <i class="fa fa-phone-alt fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Mobile</h4>
                        <p class="mb-0">+012 345 67890</p>
                        <p class="mb-0">+012 345 67890</p>
                    </div>

                    <div class="text-center">
                        <i class="fa fa-envelope-open fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Email</h4>
                        <p class="mb-0">info@example.com</p>
                        <p class="mb-0">info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="mb-2">寄信給我們</h3>
                <p class="mb-4">讓您的心意隨信飛翔，傳遞無限溫暖！寄信給我們，不僅是溝通的橋樑，更是情感的傳遞。無論是分享生活的點滴，還是傳遞深情的祝福，我們都將用心處理每一封信件，確保它們以最快的速度、最安全的方式送達到達收信人手中。我們相信，每一封信都承載著一段故事，每一個字都蘊含著深情厚意。寄信給我們，讓我們成為您與親友、夥伴之間的情感使者，讓溫暖與愛隨信飄揚，抵達每一個角落。立即行動，讓每一份心意都能被真情所感動！</p>
                <form action="/Home/Email" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0" name="name" id="name" placeholder="Your Name">
                                <label for="name">你的名字</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control border-0" name="email" id="email" placeholder="Your Email">
                                <label for="email">你的 Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0" name="emailsubject" id="subject" placeholder="Subject">
                                <label for="subject">主旨</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control border-0" placeholder="Leave a message here" name="message" id="message" style="height: 160px"></textarea>
                                <label for="message">訊息</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">傳送郵件</button>
                        </div>
                        <br />
                        <div>
                            <input class="btn btn-primary" type="button" id="autoinput" value="自動填值" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">

                @*Google Maps API - 網頁載入地圖 ( 起手式 )
                    https://www.oxxostudio.tw/articles/201707/google-maps-1.html*@

                <div class="rounded">
                    <iframe class="rounded w-100"
                            style="height: 450px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRJ5xFQeZKHoaWypOs8sUIJHUGY97Xpl8&q=林本源園邸"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

@section MyJs {
    <script>
        $(document).ready(function () {
            $("#autoinput").click(function () {
                $("#name").val("Kelly");
                $("#email").val("sara15560132@gmail.com");
                $("#subject").val("詢問旅程問題");
                $("#message").val("最推薦的行程是?");
            });
        });
    </script>
}
