@model Ancient_costume.Models.Journey

@{
    ViewBag.Title = "Order";
}

@*step1-4；選擇參加人數、填寫旅客資料、付款、完成*@
@*booking.html*@
@*http://www.jquery-steps.com/GettingStarted*@



<!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-3">
                <h5 class="section-booking-title pe-3">Booking</h5>
                <h1 class="text-white mb-4">線上訂購</h1>
                <!-- <p class="text-white mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime ullam esse fuga blanditiis accusantium pariatur quis sapiente, veniam doloribus praesentium? Repudiandae iste voluptatem fugiat doloribus quasi quo iure officia.
                </p>
                <p class="text-white mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime ullam esse fuga blanditiis accusantium pariatur quis sapiente, veniam doloribus praesentium? Repudiandae iste voluptatem fugiat doloribus quasi quo iure officia.
                </p>-->
                @*<a href="#" class="btn btn-light text-primary rounded-pill py-3 px-5 mt-2">詳情</a>*@
            </div>
            <div class="col-lg-6">
                <h1 class="text-white mb-3">填寫資料</h1>
                @*<p class="text-white mb-4">Get <span class="text-warning">50% Off</span> On Your First Adventure Trip With Travela. Get More Deal Offers Here.</p>*@

                @*預計設定帶資料到Bill顯示*@


                <form action="/Member/Bill" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" name="name" id="name" placeholder="Your Name">
                                <label for="name">姓名</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" name="twid" id="twid" placeholder="Your Id">
                                <label for="twid">身份證</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input type="text" class="form-control bg-white border-0" name="phone" id="phone" placeholder="phone" data-target="#date3" data-toggle="datetimepicker" />
                                <label for="phone">電話</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input type="text" class="form-control bg-white border-0" name="address" id="adress" placeholder="Adress" data-target="#date3" data-toggle="datetimepicker" />
                                <label for="adress">地址</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" name="selectPerson" id="selectPerson">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <label for="select1">人數</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" name="Selectfood" id="Selectfood">
                                    <option value="不限">不限</option>
                                    <option value="不吃牛">不吃牛</option>
                                    <option value="不吃羊">不吃羊</option>
                                </select>
                                <label for="SelectPerson">飲食習慣</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" name="Selectchild" id="Selectchild">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <label for="CategoriesSelect">孩童</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" name="message" id="message" style="height: 100px"></textarea>
                                <label for="message">特殊需求   </label>
                            </div>
                        </div>
                        <div class="col-12">
                            @*<button class="btn btn-primary text-white w-100 py-3" type="submit" onclick="location.href='/Account/Bill'">確認</button>*@

                            @*用session將資料帶到Bill顯示*@
                            <input type="submit" class="btn btn-primary text-white w-100 py-3" />
                            <br />
                            <br />
                            <input type="button" id="autoinput" value="自動填值" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<!-- Tour Booking End -->

@section MyJs {
    <script>
        $(document).ready(function () {
            $("#autoinput").click(function () {
                $("#name").val("周潤發");
                $("#twid").val("F123456789");
                $("#phone").val("0912345678");
                $("#adress").val("台北市松山區復興北路99號14樓");
                $("#selectPerson").val("2");
                $("#Selectfood").val("不吃牛");
                $("#Selectchild").val("0");
                $("#message").val("下午2點抵達");
            });
        });
    </script>
}
